@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    text-align: center;
    color: white;
}

button {
  font-family: "Times New Roman", Times, serif;
}

.wallpaper {
    background: #4B0082;
    background-image: url("../img/wallpaper.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    overflow: hidden;
}

.bg {
    position: absolute;
    /* width: 120px;
    height: 120px; */
    width: 12vw;
    height: 12vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}
.whiteBorder { border: 6px solid rgba(255, 255, 255, 0.8); }
.img1 { background-image: url("../img/tt1.png"); }
.img2 { background-image: url("../img/tt2.png"); }
.img3 { background-image: url("../img/tt3.png"); }
.img4 { background-image: url("../img/tt4.png"); }
.img5 { background-image: url("../img/tt5.png"); }
.img6 { background-image: url("../img/tt6.png"); }
.img7 { background-image: url("../img/tt7.png"); }
@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    /* 50% { opacity: 1; } */
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

.title {
    margin: 20vh 0 0 0;
    display: flex;
    justify-content: center;
}

.titleLine {
    /* background: #FFFFFF; */
    background-image: linear-gradient(rgba(46, 0, 249, 0.9), rgb(0, 214, 250, 0.9), rgb(173, 0, 250, 0.9));
    height: 128px;
    width:  6px;
    border-radius: 3px;
    margin: 0 10px 0 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    animation: drawLine 1s;
    z-index: 2;
}
@keyframes drawLine {
    0%   { height: 0; }
    100% { height: 128px; }
}

.popup1 {
    opacity: 0;
    animation: popup 1s ease 0.8s 1 normal forwards;
}
.popup2 {
    opacity: 0;
    animation: popup 1s ease 1.2s 1 normal forwards;
}
@keyframes popup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    25% {
        transform: scale(1.1);
        opacity: 1;
    }
    50%, 100% {
        transform: scale(1);
        opacity: 1;
    }
}

.select {
    margin: 7vh 0 0 0;
}

.startButton {
    background-color: rgb(0, 214, 250);
    width: 350px;
    height: 130px;
    border-radius: 25px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: white;
    font: 36px 'Press Start 2P';
    
}
.startButton:hover {
    background-color: rgb(100, 255, 100);
}

.leaderboards {
    margin: 6vh 0 0 0;
    width: 400px;
    height: 48px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    background-color: rgb(201, 201, 201);
    border: 6px solid rgb(122, 122, 122);
    color: rgb(70, 70, 70);
    font: 24px 'Press Start 2P';
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeLeaderboardButton {
    background-color: rgb(146, 146, 146);
    width: 36px;
    height: 36px;
    border-radius: 5px;
    
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-align: center;
    line-height: 32px;
}
.seeLeaderboardButton:hover {
    background-color: rgb(110, 110, 110);
}

.leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60vh;
    height: 70vh;
    z-index: 10;

    background-color: rgb(201, 201, 201);
    border: 20px solid rgb(235, 235, 235);
    border-radius: 10px;

    color: white;
    font: 1.5vw 'Press Start 2P';
    padding: 10px;
}
.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hide { display: none; }
.nameText {
    flex: 7;
    text-align: left;
}
.scoreText {
    flex: 3;
    text-align: right;
    padding: 0 10px 0 0;
}
.deleteButton {
    flex: 1;

    color: rgb(128, 128, 128);
    text-align: center;

    background: none;
    border: none;

    padding: 0px;
    margin-bottom: 8px;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: 900;
}
.editButton {
    flex: 1;
    
    color: rgb(128, 128, 128);
    text-align: center;
    line-height: 38px;

    background: none;
    border: none;

    padding: 0px;
    margin-bottom: 8px;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: 900;
}
.leaderboardCloseButton {
    position: absolute;
    top: 0;
    left: 65vh;

    width: 35px;
    height: 35px;
    z-index: 10;
    
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 1;
    padding: 4px 8px 0px 4px;
}

.login {
    position: absolute;
    top: 2vw;
    left: 3vw;

    display: flex;
    align-items: center;

    color: white;
    font: 24px 'Press Start 2P';
}
.logInButton {
    width: 190px;
    height: 50px;

    color: white;
    font: 18px bold;

    background: darkorange;
    border: 2px solid white;
    border-radius: 10px;

    margin-right: 20px;
    
    font: 20px 'Press Start 2P';
}
.logInButton:hover {
    background: red;
}

.version {
    position: absolute;
    bottom: 1.5vw;
    left: 2vw;

    color: rgba(211, 211, 211, 0.5);
    font: 18px 'Press Start 2P';
}

.developer {
    position: absolute;
    bottom: 1.5vw;
    right: 2vw;

    color: lightgray;
    font-size: 16px;
}
