body {
    text-align: center;
    color: white;
    background: black;
}

.bg {
    background-image: url("../img/space.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    overflow: hidden;
}
.startSlide { animation: slideStart 3s ease forwards; }
.slideL { animation: slideLeft 1s ease forwards; }
.slideR { animation: slideRight 1s ease forwards; }
@keyframes slideStart {
    100% { background-position: right center; }
}
@keyframes slideLeft {
    0% { background-position: right center; }
    100% { background-position: left center; }
}
@keyframes slideRight {
    0% { background-position: left center; }
    100% { background-position: right center; }
}

.screen {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    justify-content: center;
    margin: 9vh 0 0 0;
    border: 2px solid white;
    /* outline: 2px solid white; */
}
.screen div {
    width: 3.5vw;
    height: 3.5vw;
    background-position: center;
    background-size: cover;
}
.block {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid gray;
}
.mid {
    background: rgba(128, 128, 128, 0.7);
    border: 1px solid gray;
}
.t1 {
    background-image: url("../img/t1_block.png");
    border: 1px solid rgb(0, 214, 250);
}
.t2 {
    background-image: url("../img/t2_block.png");
    border: 1px solid rgb(45, 0, 249);
}
.t3 {
    background-image: url("../img/t3_block.png");
    border: 1px solid rgb(255, 108, 19);
}
.t4 {
    background-image: url("../img/t4_block.png");
    border: 1px solid rgb(255, 206, 17);
}
.t5 {
    background-image: url("../img/t5_block.png");
    border: 1px solid rgb(103, 238, 20);
}
.t6 {
    background-image: url("../img/t6_block.png");
    border: 1px solid rgb(173, 0, 250);
}
.t7 {
    background-image: url("../img/t7_block.png");
    border: 1px solid rgb(255, 25, 69);
}

.scoreboard {
    margin: 5.5vh 0 0 0;
    padding: 1vh 0 1vh 0;
    background-color: rgb(197, 197, 197);
    border: 5px solid rgba(255, 255, 255, 0.8);
    text-align: center;
    color: white;
    font: 36px 'Press Start 2P';
}

.gameOverScreen {
    position: absolute;
    margin: 1% 1%;
    width: 98%;
    height: 96%;
    background-color: rgba(0, 0, 0, 0.5);
    outline: 5px solid rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font: 7vw 'Press Start 2P';
}
.hide { display: none; }

.goBackButton {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: white;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: black;
    font-size: 48px;
    padding: 0 0 4px 18px;
}
.goBackButton:hover {
    background-color: lightgray;
}
